In [1]:
from pathlib import Path
from typing import Dict, List
import re
import pandas as pd

In [2]:
with Path("day-05-puzzle-input.txt").open() as file_obj:
    contents = file_obj.read()

current_stack_arrangement, rearrangement_procedures = contents.split("\n\n")

In [3]:
print(current_stack_arrangement)

    [W]         [J]     [J]
    [V]     [F] [F] [S] [S]
    [S] [M] [R] [W] [M] [C]
    [M] [G] [W] [S] [F] [G]     [C]
[W] [P] [S] [M] [H] [N] [F]     [L]
[R] [H] [T] [D] [L] [D] [D] [B] [W]
[T] [C] [L] [H] [Q] [J] [B] [T] [N]
[G] [G] [C] [J] [P] [P] [Z] [R] [H]
 1   2   3   4   5   6   7   8   9

In [4]:
current_stack_arrangement.splitlines()[:-1]

['    [W]         [J]     [J]        ',
 '    [V]     [F] [F] [S] [S]        ',
 '    [S] [M] [R] [W] [M] [C]        ',
 '    [M] [G] [W] [S] [F] [G]     [C]',
 '[W] [P] [S] [M] [H] [N] [F]     [L]',
 '[R] [H] [T] [D] [L] [D] [D] [B] [W]',
 '[T] [C] [L] [H] [Q] [J] [B] [T] [N]',
 '[G] [G] [C] [J] [P] [P] [Z] [R] [H]']

In [21]:
STACK_ARGEMENT_REGEX = re.compile(r" \s{3}|\[\w\]")


def build_current_stack_arrangement(
    current_stack_arrangement: str,
) -> Dict[str, List[str]]:
    """
    Build current stack arrangement.
    """
    stacks = current_stack_arrangement.splitlines()[-1].split()

    result = {}
    for stack in stacks:
        result[stack] = []

    for stack_level in current_stack_arrangement.splitlines()[:-1]:
        crates = STACK_ARGEMENT_REGEX.findall(stack_level)

        for index, crate in enumerate(crates):
            crate = crate.strip().replace("[", "").replace("]", "")
            result[stacks[index]].append(crate)

    return result


df = pd.DataFrame(build_current_stack_arrangement(current_stack_arrangement))
df = df.sort_index(ascending=False).reset_index(drop=True)
df.head(8)

   1  2  3  4  5  6  7  8  9
0  G  G  C  J  P  P  Z  R  H
1  T  C  L  H  Q  J  B  T  N
2  R  H  T  D  L  D  D  B  W
3  W  P  S  M  H  N  F     L
4     M  G  W  S  F  G     C
5     S  M  R  W  M  C
6     V     F  F  S  S
7     W        J     J

In [22]:
PROCEDURE_REGEX = re.compile(
    r"^move (?P<count>\d+) from (?P<start>\d+) to (?P<end>\d+)$"
)


def build_rearrangement_procedures(
    rearrangement_procedures: str,
) -> Dict[str, str]:
    procedures = []
    for raw_procedure in rearrangement_procedures.strip().splitlines():
        procedures += [PROCEDURE_REGEX.fullmatch(raw_procedure).groupdict()]
    return procedures


df_procedures = pd.DataFrame(
    build_rearrangement_procedures(rearrangement_procedures)
)
df_procedures.head()

  count start end
0     3     4   3
1     3     8   6
2     2     3   8
3     3     7   2
4     1     1   3

In [23]:
for index, procedure in df_procedures.iterrows():
    count = procedure['count']
    start = procedure['start']
    end = procedure['end']

    if count < df["3"][df["3"] == ""].count():
    
    df[start]

In [27]:
df["3"][df["3"] == ""].count()

2