In [1]:
import string
from typing import Tuple
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("day-03-puzzle-input.txt", names=("Rucksack",))
df.head()

                                           Rucksack
0                        hDsDDttbhsmshNNWMNWGbTNqZq
1                          VQfjnlFvnQFRdZWdVtqMGdWW
2  zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB
3  FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC
4  sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp

**Part One**

In [3]:
def split_rucksack_into_compartments(rucksack: str) -> Tuple[str, str]:
    count = int(len(rucksack) / 2)
    return pd.Series([rucksack[:count], rucksack[count:]])


df[['Compartment One', 'Compartment Two']] = df['Rucksack'].apply(split_rucksack_into_compartments)
df.head()

,Rucksack,Compartment One,Compartment Two
0,hDsDDttbhsmshNNWMNWGbTNqZq,hDsDDttbhsmsh,NNWMNWGbTNqZq
1,VQfjnlFvnQFRdZWdVtqMGdWW,VQfjnlFvnQFR,dZWdVtqMGdWW
2,zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB,zvvvRnFFfjjlRBlBPzgQgRvv,mtrmhHcptLHCDhcHHmLsBmsB
3,FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC,FrzFvvdTDcTnmTzdDTTzdvWm,jhgVPrhSljSQSPwPjPjPjSVC
4,sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp,sMsGbqGsbbRqRbBMBGRMbLpN,SSpjhlQljHVClhjgPjjPhlVp

In [4]:
def common_element_in_compartments(row: dict) -> str:
    for x in row["Compartment One"]:
        if x in row["Compartment Two"]:
            return x

df["Common Element"] = df.apply(common_element_in_compartments, axis=1)

In [5]:
def calc_priority(value: str) -> int:
    return string.ascii_letters.index(value) + 1


df["Priority"] = df["Common Element"].apply(calc_priority)
df.head()

,Rucksack,Compartment One,Compartment Two,Common Element,Priority
0,hDsDDttbhsmshNNWMNWGbTNqZq,hDsDDttbhsmsh,NNWMNWGbTNqZq,b,2
1,VQfjnlFvnQFRdZWdVtqMGdWW,VQfjnlFvnQFR,dZWdVtqMGdWW,V,48
2,zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB,zvvvRnFFfjjlRBlBPzgQgRvv,mtrmhHcptLHCDhcHHmLsBmsB,B,28
3,FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC,FrzFvvdTDcTnmTzdDTTzdvWm,jhgVPrhSljSQSPwPjPjPjSVC,r,18
4,sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp,sMsGbqGsbbRqRbBMBGRMbLpN,SSpjhlQljHVClhjgPjjPhlVp,p,16

In [6]:
df["Priority"].sum()

7821

**Part Two**

In [43]:
df_two = pd.read_csv("day-03-puzzle-input.txt", names=("Rucksack",))

df_two = pd.DataFrame(
    np.reshape(df_two.values, (int(df_two.shape[0] / 3), 3)),
    columns=('Rucksack One', 'Rucksack Two', 'Rucksack Three'),
)
df_two.head()

,Rucksack One,Rucksack Two,Rucksack Three
0,hDsDDttbhsmshNNWMNWGbTNqZq,VQfjnlFvnQFRdZWdVtqMGdWW,zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB
1,FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC,sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp,sNbGtJbMfssNtvcnWFVmnvDd
2,TNfmdFJmfdZMQffVRQVV,jVHBCcDSjWrMZjvg,SShSbCGpcBtBtwtVLJJddmtLmT
3,CtpNftbNWbtSJDHqGZJFLfLr,dPsHlsRBHcZdqDFDZwwJ,snjVlvTPlPjVlQlHWjpSmzgNNzSmtpSm
4,qhZtSVqCqThGcGzZnnfZcB,WbddWbDwrBzcpzHpBb,DBBMFWRJDrDFWLWljCqjQjFvtCsqTjqs

In [84]:
def common_element_in_rucksacks(row: dict) -> str:
    rucksack_one = set(row["Rucksack One"])
    rucksack_two = set(row["Rucksack Two"])
    rucksack_three = set(row["Rucksack Three"])
    return list(rucksack_one & rucksack_two & rucksack_three)[0]


df_two["Common Element"] = df_two.apply(common_element_in_rucksacks, axis=1)
df_two.head()

,Rucksack One,Rucksack Two,Rucksack Three,Common Element
0,hDsDDttbhsmshNNWMNWGbTNqZq,VQfjnlFvnQFRdZWdVtqMGdWW,zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB,t
1,FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC,sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp,sNbGtJbMfssNtvcnWFVmnvDd,V
2,TNfmdFJmfdZMQffVRQVV,jVHBCcDSjWrMZjvg,SShSbCGpcBtBtwtVLJJddmtLmT,V
3,CtpNftbNWbtSJDHqGZJFLfLr,dPsHlsRBHcZdqDFDZwwJ,snjVlvTPlPjVlQlHWjpSmzgNNzSmtpSm,H
4,qhZtSVqCqThGcGzZnnfZcB,WbddWbDwrBzcpzHpBb,DBBMFWRJDrDFWLWljCqjQjFvtCsqTjqs,B

In [85]:
df_two["Priority"] = df_two["Common Element"].apply(calc_priority)
df_two.head()

,Rucksack One,Rucksack Two,Rucksack Three,Common Element,Priority
0,hDsDDttbhsmshNNWMNWGbTNqZq,VQfjnlFvnQFRdZWdVtqMGdWW,zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB,t,20
1,FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC,sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp,sNbGtJbMfssNtvcnWFVmnvDd,V,48
2,TNfmdFJmfdZMQffVRQVV,jVHBCcDSjWrMZjvg,SShSbCGpcBtBtwtVLJJddmtLmT,V,48
3,CtpNftbNWbtSJDHqGZJFLfLr,dPsHlsRBHcZdqDFDZwwJ,snjVlvTPlPjVlQlHWjpSmzgNNzSmtpSm,H,34
4,qhZtSVqCqThGcGzZnnfZcB,WbddWbDwrBzcpzHpBb,DBBMFWRJDrDFWLWljCqjQjFvtCsqTjqs,B,28

In [87]:
df_two["Priority"].sum()

2752