In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv(
    "day-02-input.txt",
    sep="x",
    names=(
        "Length",
        "Width",
        "Height",
    ),
)
df.head()

   Length  Width  Height
0      29     13      26
1      11     11      14
2      27      2       5
3       6     10      13
4      15     19      10

**Part One**

In [36]:
def calc_required_wrapping_paper(row):
    length = int(row["Length"])
    width = int(row["Width"])
    height = int(row["Height"])

    smallest_sides = sorted([length, width, height])[:2]
    slack = np.prod(smallest_sides)

    return (
        (2 * length * width)
        + (2 * width * height)
        + (2 * height * length)
        + slack
    )


assert (
    calc_required_wrapping_paper({"Length": "1", "Width": "1", "Height": "10"})
    == 43
)
assert (
    calc_required_wrapping_paper({"Length": "2", "Width": "3", "Height": "4"})
    == 58
)

df["Sqft Paper Needed"] = df.apply(calc_required_wrapping_paper, axis=1)
df.head()

   Length  Width  Height  Sqft Paper Needed
0      29     13      26               3276
1      11     11      14                979
2      27      2       5                408
3       6     10      13                596
4      15     19      10               1400

In [37]:
df["Sqft Paper Needed"].sum()

1586300

**Part Two**

In [42]:
def calc_requested_ribbion(row):
    length = int(row["Length"])
    width = int(row["Width"])
    height = int(row["Height"])

    smallest_sides = sorted([length, width, height])[:2]
    ribbion_for_bow = np.sum(smallest_sides) + np.sum(smallest_sides)

    ribbion_for_wrap = length + width + height

    return ribbion_for_bow + ribbion_for_wrap


assert (
    calc_requested_ribbion({"Length": "1", "Width": "1", "Height": "10"}) == 14
)
assert (
    calc_requested_ribbion({"Length": "2", "Width": "3", "Height": "4"}) == 34
)

AssertionError: