In [1]:
%matplotlib inline

import dateutil
import pandas as pd
import requests

pd.options.display.float_format = '{:.2f}'.format

In [2]:
BITCOIN_ABUSE_URL = 'https://www.bitcoinabuse.com/api/reports/distinct'

REPORT = []

NEXT_URL = None

while True:
    if not NEXT_URL:
        resp = requests.get(BITCOIN_ABUSE_URL)
    else:
        resp = requests.get(NEXT_URL)

    if not resp.ok:
        continue

    data = resp.json()

    REPORT += data['data']

    if not data['next_page_url']:
        break

    NEXT_URL = data['next_page_url']

In [3]:
df = pd.DataFrame(REPORT)

df['reported_at'].apply(dateutil.parser.parse)

df.sort_values('count', ascending=False).head()

                                address  count          reported_at
40   1EZS92K4xJbymDLwG4F7PNF5idPE62e9XY    421  2018-10-25 15:43:38
45   1MN7A7QqQaAVoxV4zdjdrnEHXmjhzcQ4Bq    281  2018-10-25 14:53:36
7    1JTtwbvmM7ymByxPYCByVYCwasjH49J3Vj    276  2018-10-25 23:12:37
43   1NXNt72qfMhPZDffUEqryCYpEUzyR6LmgH    272  2018-10-25 15:19:46
160  19D67Tgb3neJiTHd8pZDEBYmUn2qSjxEeB    173  2018-10-23 11:59:45

In [4]:
df.set_index('address').to_csv('output/bitcoin-abuse-reports.csv')

In [5]:
def get_total_received_and_sent(row):
    resp = requests.get(f'https://blockchain.info/rawaddr/{row["address"]}')

    if not resp.ok:
        return row

    data = resp.json()

    row['total_received'] = data['total_received']
    row['total_sent'] = data['total_sent']
    row['final_balance'] = data['final_balance']

    return row


df.head(1).apply(lambda row: get_total_received_and_sent(row), axis=1).head()

,address,count,reported_at,total_received,total_sent,final_balance
0,1Abx4ytuJ2Mb5HtuCpbUuUuJ1q8cdrXXYT,6,2018-10-25 23:59:47,0,0,0

In [6]:
df = df.apply(lambda row: get_total_received_and_sent(row), axis=1)

df.head()

,address,count,final_balance,reported_at,total_received,total_sent
0,1Abx4ytuJ2Mb5HtuCpbUuUuJ1q8cdrXXYT,6,0.00,2018-10-25 23:59:47,0.00,0.00
1,1MTDXjt14YLEBDNxZ8WEq23FNa1QfHXMbc,1,0.00,2018-10-25 23:51:00,0.00,0.00
2,1JMSH4oDSuGteB46G7Yg1FLQXeqfVPJyyU,1,0.00,2018-10-25 23:50:27,0.00,0.00
3,1LZQGS99RUCvQvT5Qce7LkrWtMtcXPSdWZ,110,46882183.00,2018-10-25 23:44:54,46882183.00,0.00
4,1Le9CMak1WFS9ERpfmRkvHKTdugkobDqCe,1,13743600.00,2018-10-25 23:34:17,13743600.00,0.00

In [13]:
df['total_received'] = df['total_received'].apply(lambda x: x / 100000000)
df['total_sent'] = df['total_sent'].apply(lambda x: x / 100000000)
df['final_balance'] = df['final_balance'].apply(lambda x: x / 100000000)

df.head()

,address,count,final_balance,reported_at,total_received,total_sent,total_received_cad,total_sent_cad
0,1Abx4ytuJ2Mb5HtuCpbUuUuJ1q8cdrXXYT,6,0.00,2018-10-25 23:59:47,0.00,0.00,0.00,0.00
1,1MTDXjt14YLEBDNxZ8WEq23FNa1QfHXMbc,1,0.00,2018-10-25 23:51:00,0.00,0.00,0.00,0.00
2,1JMSH4oDSuGteB46G7Yg1FLQXeqfVPJyyU,1,0.00,2018-10-25 23:50:27,0.00,0.00,0.00,0.00
3,1LZQGS99RUCvQvT5Qce7LkrWtMtcXPSdWZ,110,0.47,2018-10-25 23:44:54,0.00,0.00,3942.34,0.00
4,1Le9CMak1WFS9ERpfmRkvHKTdugkobDqCe,1,0.14,2018-10-25 23:34:17,0.00,0.00,1155.70,0.00

In [14]:
df.sort_values('total_received', ascending=False).head(10)

,address,count,final_balance,reported_at,total_received,total_sent,total_received_cad,total_sent_cad
458,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,2,18744.25,2018-10-16 05:34:52,0.04,0.04,29963003479.46,29805382446.43
2091,32zsaL5r7YERsqyC7EJbgrbL1ehFQdSt8K,1,0.00,2018-04-15 07:31:12,0.00,0.00,473875179.27,473875179.27
2090,1H4Ng3NkDLiEhEPJ4EVUvc7Da13R3PYafq,1,0.00,2018-04-15 07:33:00,0.00,0.00,185442136.81,185442133.13
1496,17up7EiuJze4UTggQwQZAvvQG87cGqJ9U9,1,0.00,2018-09-17 18:16:22,0.00,0.00,22948178.24,22948178.24
1707,1JsACYBoRCYkz7DSgyKurMyibbmHwcHbPd,1,0.00,2018-08-15 08:49:20,0.00,0.00,5959072.97,5959072.97
171,3CwdHnqNTWjryE2qnyVa82Gcz2LwKdkGHh,1,0.34,2018-10-23 06:38:12,0.00,0.00,2997459.55,2994624.15
343,1BEFmdLRKQ7VsARX7uHtNKSVPW4sze9CcU,1,10.46,2018-10-18 13:26:34,0.00,0.00,1997187.60,1909203.46
790,15SW4gXvkn8hfog398iTxyuCkM6TdfpFhp,1,30.95,2018-10-04 18:06:39,0.00,0.00,1776540.09,1516271.77
2070,13AkbXoqjWaH4eSMaWkB6RVmFa7vXfKj4y,2,0.00,2018-05-08 16:01:16,0.00,0.00,954761.82,954761.82
414,3QnKobHyVWMU1v2c75oH6ztuiUGehNp3rH,1,73.62,2018-10-16 17:59:17,0.00,0.00,619042.23,0.00

In [15]:
resp = requests.get('https://api.coindesk.com/v1/bpi/currentprice/CAD.json')

rate = resp.json()['bpi']['CAD']['rate_float']

rate

8409.0349

In [18]:
df['total_received_cad'] = df['total_received'].apply(lambda x: round(x * rate, 2))
df['total_sent_cad'] = df['total_sent'].apply(lambda x: round(x * rate, 2))
df['final_balance'] = df['final_balance'].apply(lambda x: round(x * rate, 2))

df.head()

,address,count,final_balance,reported_at,total_received,total_sent,total_received_cad,total_sent_cad
0,1Abx4ytuJ2Mb5HtuCpbUuUuJ1q8cdrXXYT,6,0.00,2018-10-25 23:59:47,0.00,0.00,0.00,0.00
1,1MTDXjt14YLEBDNxZ8WEq23FNa1QfHXMbc,1,0.00,2018-10-25 23:51:00,0.00,0.00,0.00,0.00
2,1JMSH4oDSuGteB46G7Yg1FLQXeqfVPJyyU,1,0.00,2018-10-25 23:50:27,0.00,0.00,0.00,0.00
3,1LZQGS99RUCvQvT5Qce7LkrWtMtcXPSdWZ,110,3942.34,2018-10-25 23:44:54,0.00,0.00,0.00,0.00
4,1Le9CMak1WFS9ERpfmRkvHKTdugkobDqCe,1,1155.70,2018-10-25 23:34:17,0.00,0.00,0.00,0.00

In [19]:
df.sort_values('total_received', ascending=False).head(10)

,address,count,final_balance,reported_at,total_received,total_sent,total_received_cad,total_sent_cad
458,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,2,157621033.03,2018-10-16 05:34:52,0.04,0.04,299.63,298.05
2091,32zsaL5r7YERsqyC7EJbgrbL1ehFQdSt8K,1,0.00,2018-04-15 07:31:12,0.00,0.00,4.74,4.74
2090,1H4Ng3NkDLiEhEPJ4EVUvc7Da13R3PYafq,1,3.67,2018-04-15 07:33:00,0.00,0.00,1.85,1.85
1496,17up7EiuJze4UTggQwQZAvvQG87cGqJ9U9,1,0.00,2018-09-17 18:16:22,0.00,0.00,0.23,0.23
1707,1JsACYBoRCYkz7DSgyKurMyibbmHwcHbPd,1,0.00,2018-08-15 08:49:20,0.00,0.00,0.06,0.06
171,3CwdHnqNTWjryE2qnyVa82Gcz2LwKdkGHh,1,2835.40,2018-10-23 06:38:12,0.00,0.00,0.03,0.03
343,1BEFmdLRKQ7VsARX7uHtNKSVPW4sze9CcU,1,87984.14,2018-10-18 13:26:34,0.00,0.00,0.02,0.02
790,15SW4gXvkn8hfog398iTxyuCkM6TdfpFhp,1,260268.32,2018-10-04 18:06:39,0.00,0.00,0.02,0.02
2070,13AkbXoqjWaH4eSMaWkB6RVmFa7vXfKj4y,2,0.00,2018-05-08 16:01:16,0.00,0.00,0.01,0.01
414,3QnKobHyVWMU1v2c75oH6ztuiUGehNp3rH,1,619042.23,2018-10-16 17:59:17,0.00,0.00,0.01,0.00

In [20]:
df[df['total_sent'] == 0]

,address,count,final_balance,reported_at,total_received,total_sent,total_received_cad,total_sent_cad
0,1Abx4ytuJ2Mb5HtuCpbUuUuJ1q8cdrXXYT,6,0.00,2018-10-25 23:59:47,0.00,0.00,0.00,0.00
1,1MTDXjt14YLEBDNxZ8WEq23FNa1QfHXMbc,1,0.00,2018-10-25 23:51:00,0.00,0.00,0.00,0.00
2,1JMSH4oDSuGteB46G7Yg1FLQXeqfVPJyyU,1,0.00,2018-10-25 23:50:27,0.00,0.00,0.00,0.00
3,1LZQGS99RUCvQvT5Qce7LkrWtMtcXPSdWZ,110,3942.34,2018-10-25 23:44:54,0.00,0.00,0.00,0.00
4,1Le9CMak1WFS9ERpfmRkvHKTdugkobDqCe,1,1155.70,2018-10-25 23:34:17,0.00,0.00,0.00,0.00
7,1JTtwbvmM7ymByxPYCByVYCwasjH49J3Vj,276,33327.03,2018-10-25 23:12:37,0.00,0.00,0.00,0.00
8,1PfbxCJkGNTZC7yFtHHhtPnZyiwQEUqAmu,1,0.00,2018-10-25 23:08:10,0.00,0.00,0.00,0.00
9,1CKUjp9VNWFd1ysDbsq27dK9icG3vjeGr6,12,0.00,2018-10-25 23:01:54,0.00,0.00,0.00,0.00
10,167jvgbxeM5o2BWwgzsSdspVXUtcaH58PT,2,0.00,2018-10-25 23:01:27,0.00,0.00,0.00,0.00
11,1Fb8btYEng9DXYg3GY5hYSXAaLvGvWXRe2,2,0.00,2018-10-25 22:32:56,0.00,0.00,0.00,0.00
12,1M2K3fhEwXrZ7cPzAW4J6nR6Gfn4fZ5MUV,1,0.00,2018-10-25 22:24:38,0.00,0.00,0.00,0.00
13,16jeoRDmhMAzzmnf1nr2eKftcHB6qGhCxU,7,1366.47,2018-10-25 22:21:48,0.00,0.00,0.00,0.00
14,1DVU5Q2HQ4srFNSSaWBrVNMtL4pvBkfP5w,130,2210.05,2018-10-25 22:12:39,0.00,0.00,0.00,0.00
15,1BdMUUwx5bD1xePqKwGuqguxKphSvr97wj,4,0.00,2018-10-25 21:57:45,0.00,0.00,0.00,0.00
17,1Pdo8BJtQLbAQtVK3NahCkTrTPPJVBfucr,1,0.00,2018-10-25 21:40:09,0.00,0.00,0.00,0.00
18,1DnoAYPwHSo4m1JP1eNvGFjCdbfoRmBtHC,13,1.30,2018-10-25 21:38:14,0.00,0.00,0.00,0.00
19,1GEa2PsM5TnHCKja1jSUvkhq6FR91cWeef,1,42045.17,2018-10-25 21:31:07,0.00,0.00,0.00,0.00
20,1Pypmve5Q2ZP5wNgjGAChQ3vorAy5y4gcC,32,667.94,2018-10-25 21:26:53,0.00,0.00,0.00,0.00
22,1JcdSm3qyL1hKagL22z3grpVUkjX3Ez8v2,1,0.00,2018-10-25 21:16:18,0.00,0.00,0.00,0.00
23,3K8qvztX5UXBWrNy9mgkwQYremPWxDr9b5,1,0.00,2018-10-25 21:14:53,0.00,0.00,0.00,0.00
24,135qVXXBZb3v2tQcLJRA8UAndiUYNybh3J,132,7683.04,2018-10-25 20:38:23,0.00,0.00,0.00,0.00
25,1BEQ3id3nr2pummerJRiAtZrdGoYHsAwq7,6,1765.97,2018-10-25 19:30:19,0.00,0.00,0.00,0.00
26,155fZsiyruTEKXhzf6s1adPpta7sA3tYLH,1,0.00,2018-10-25 19:16:29,0.00,0.00,0.00,0.00
27,1DmRstfqX9NbaHFC3yi6mhcsrFiqW7NdWu,1,0.00,2018-10-25 19:10:32,0.00,0.00,0.00,0.00
28,3HNFAdL4euhEHG9t4QMQmk25QcKAKhzuaA,3,0.00,2018-10-25 18:45:50,0.00,0.00,0.00,0.00
29,3EZmd9rFo5KKTbbotL5geDT7gk1BcCVKy1,5,0.00,2018-10-25 18:36:39,0.00,0.00,0.00,0.00
30,1YnYAxprVrTo1WzPPzMo86ste5Ssp4xsy,131,4989.33,2018-10-25 18:24:17,0.00,0.00,0.00,0.00
31,3AGHHe6fp6eRGoMRbnGv8kPT3fqfHMxWsP,17,0.00,2018-10-25 18:14:45,0.00,0.00,0.00,0.00
33,1HQHGrS96YVrMBcaoTJt5joJm7BnLfidCQ,1,0.00,2018-10-25 17:37:49,0.00,0.00,0.00,0.00
34,185gW4GcknvLbjxdF7JERypWNFmtrn3FCq,27,0.00,2018-10-25 17:02:33,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...
2042,13gf8DWW2TFGFeBnS15p6pgHqN1w4aH8kk,1,0.00,2018-07-12 14:47:42,0.00,0.00,0.00,0.00
2045,1LuzCAH1JHCWihUwGcwXPHmPH6d1iHGH6c,1,0.00,2018-07-11 19:26:14,0.00,0.00,0.00,0.00
2048,156WS9dbawc1UfJhc87jSACSTMghNZyAz1,1,0.00,2018-07-07 17:07:19,0.00,0.00,0.00,0.00
2049,11GzeSzem9aaE3eKKAu9X2XB28he8U52t,1,0.00,2018-07-07 17:06:08,0.00,0.00,0.00,0.00
2052,18YCKvTH8FWumcU1t2SXiSnXm4GJjZo23j,1,0.00,2018-06-29 21:43:28,0.00,0.00,0.00,0.00
2053,1kb7WKok2L6FTPKQ9imUprh7QFbD2s5ci,1,0.00,2018-06-29 11:07:11,0.00,0.00,0.00,0.00
2055,1MDHUCih4k29abwJTHBvcPQ3wFk3c3R17p,1,0.00,2018-06-25 22:42:39,0.00,0.00,0.00,0.00
2056,1F9GBZE75PEyDb3tsn7EGBLJESzc9bwzzv,1,0.00,2018-06-25 11:46:06,0.00,0.00,0.00,0.00
2057,1QBB1q5F8WZBbvRR9YkNJGdqeZ4VyYxmFV,1,0.00,2018-06-21 12:07:25,0.00,0.00,0.00,0.00
2058,1qZ9qZjLfpsmuM39k1ihKzMes72mB4sit,1,0.00,2018-06-13 10:40:32,0.00,0.00,0.00,0.00
2059,1J8eZQpoCgV4fLXNse2ypu3TyW8oc1S91o,2,0.00,2018-06-01 09:15:20,0.00,0.00,0.00,0.00
2064,1LTZmQNqdBwaeV3wywpt1b63EVugtw55Cz,1,0.00,2018-05-15 08:06:15,0.00,0.00,0.00,0.00
2069,1MxnuGP9MMmRcDfQXi5gENhHEXSnijKr81,1,0.00,2018-05-08 19:16:21,0.00,0.00,0.00,0.00
2071,12BWepZoziyx2Dbc9WeAYxXFQVW4WU9f2B,1,0.00,2018-05-07 09:30:20,0.00,0.00,0.00,0.00
2072,1LtAFjwAbPBtmsYcJqepGsAhn4Ne9NmQfg,1,0.00,2018-04-30 10:46:07,0.00,0.00,0.00,0.00
2073,1JhAjUhwGZWFqNJH8fFyUx4YbJapvuCV7U,1,0.00,2018-04-30 08:29:15,0.00,0.00,0.00,0.00
2074,13f1gEk2GySfuPses68m2bjinda8Zsrark,1,0.00,2018-04-30 08:28:07,0.00,0.00,0.00,0.00
2078,1BDrciTDSJiXYkBBES8pC2TPbGjQYPGQnv,1,271.51,2018-04-25 14:39:06,0.00,0.00,0.00,0.00
2079,1B58ST2jJnZ42J4eyW8K8Ut2kAJvAvcdn3,1,0.00,2018-04-24 18:52:00,0.00,0.00,0.00,0.00
2081,1FdWiUfmDTxedGgDEymM4duW27LT4ortTY,1,0.00,2018-04-23 22:00:10,0.00,0.00,0.00,0.00
2082,1HBpS6aigjzWnRLqN9Zgs6Awd2JZupqeqV,1,0.00,2018-04-23 20:10:39,0.00,0.00,0.00,0.00
2084,1N2gfUJqA1Vvuq9NajSB1Ha1K6c7bYWyKi,1,0.00,2018-04-19 20:56:43,0.00,0.00,0.00,0.00
2103,1rkH7DtWxS6eY72bqoJSE8usfWccYQqnZ,1,0.00,2018-04-08 16:06:04,0.00,0.00,0.00,0.00
2112,1FXUvRQwZtNQ5HGPuvtQcZ6Mb5fvnnD4kP,1,0.00,2018-03-29 09:15:08,0.00,0.00,0.00,0.00
2113,1DyZm2BPcnUKR3jk5oKwR7NN92Yiyk2svy,1,0.00,2018-03-22 12:56:19,0.00,0.00,0.00,0.00
2118,1KC7mLm51GNNBuYMnamY5Vj5s5FmmGMRPj,1,0.00,2018-01-09 22:20:54,0.00,0.00,0.00,0.00
2121,1JrakJCK2arFb3MjzXLbgK4UxYXvTX28Lg,1,0.00,2017-11-14 22:21:07,0.00,0.00,0.00,0.00
2124,1KAZH8xQnZQrGBLqB8VorX1XSGEVLgjnj1,1,0.00,2017-09-19 18:09:20,0.00,0.00,0.00,0.00
2125,1LuYWbsnoyAHCwsLTguswPPXgubDA8kLuF,1,0.00,2017-09-18 10:11:21,0.00,0.00,0.00,0.00
2127,1Doho93x24sbs4jyPw6wn87xjQSuFS8wrt,1,0.00,2017-07-06 04:18:10,0.00,0.00,0.00,0.00